<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCRLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OCRLib_monk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OCRLib_stat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OCRLib_www.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA1EF3E81AD38C99003312E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA1EF4091AD39322003312E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA38A4BA16EF547B00C2F13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA7CE8F2171A6FF5005C251B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4C8477F1B1893240000B6FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
